 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Lato";
  color: #333;
  width: 1000px;
  margin: 0 auto;
}

// Header 
.header-container{
  height: 75px;
  background-color: black;
  border: 5px solid gold;
  border-radius: 3px;
  margin-top: 50px;
}
h1{
  color: gold;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
}

// Container
.outer-container{
  border: 5px solid gold;
  background-color: black;
  height: 500px;
  color: gold;
  border-radius: 3px;
    .gt{
      float: left;
      width: 50%;
    }
    .content{
      float: right;
      width: 50%;
      margin-top: 50px;
      line-height: 30px;
      padding-right: 40px;
    }
    button{
      margin-left: 40%;
      padding: 10px;
      font-family: Lato;
      border: 2px solid gold;
      background-color: black;
      color: gold;
      border-radius: 20px;
    }
} 

